

<footer class="footer" style="font-size:0.8em; font-weight:bolder">


    <div>
        <a class="btn btn-social-icon btn-twitter">
            <i class="fa fa-twitter"></i>
        </a>
    </div>

    <div class="panel panel-footer">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <span class="text-uppercase text-primary"><b>Overview</b></span>
                <ul>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/rrstab.aspx" target=_top>Operational  Data Tables</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/rrchart.aspx" target=_top>Overview Charts By Railroad</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/stchart.aspx" target=_top>Overview Charts By State</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/AccidentByRegionStateCounty.aspx" target=_top>One Year Accident/Incident Overview - Combined</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/TenYearAccidentIncidentOverview.aspx" target=_top>Ten Year Accident/Incident Overview</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/TenYearFreightPassengerOperationsOverview.aspx" target=_top>Freight/Passenger Operations Ten Year Overview <font color="red">NEW!</font></a>	</li>

                </ul>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <span class="text-uppercase text-primary">
                    Downloads
                </span>
                <ul>
                    <li>	<a class=" text-muted text-justify" href="publicsite/downloadFStructure.aspx" target=_top>FRA Database File Structures</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/downloads/auxilary.aspx" target=_top>FRA Auxiliary (Reference) Tables</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/publications.aspx?itemno=7.05" target=_top>FRA Publications - All</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="ProcessFile.aspx?doc=bull2005-book.pdf">Annual Safety Statistical Report for 2005 (self-extracting EXE)</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="ProcessFile.aspx?doc=FRAGuideforPreparingAccIncReportspubMay2011.pdf">FRA Guide for Preparing Accident/Incident Reports  (Published May 2011)</a>	</li>

                </ul>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <span class="text-uppercase text-primary">
                    FRA Safety Reporting
                </span>
                <ul>
                    <li>	<a class=" text-muted text-justify" href="ProcessFile.aspx?doc=FRAGuideforPreparingAccIncReportspubMay2011.pdf">FRA Guide for Preparing Accident/Incident Reports (PDF)  (Published May 2011)</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/forms.aspx?itemno=9.02" target=_top>FRA Forms</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/ReportingRequirement.aspx" target=_top>Accident/Incident Recordkeeping and Reporting Requirements  (Effective June 1, 2011 and July 1,2011)	</li>
                    <li>	<a class=" text-muted text-justify" href="http://www.fra.dot.gov" target=_top>FRA Home Page</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="ProcessFile.aspx?doc=RAILROAD_REPORTING_THRESHOLD.doc">Railroad Reporting Threshold (DOC)</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/faq.aspx" target=_top>Frequently Asked Questions	</li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">

                <span class="text-uppercase text-primary">
                    Accident/Incident Trends
                </span>
                <ul>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/inctally3.aspx" target=_top>Train Accidents by Railroad Groups</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/castally1.aspx" target=_top>Employee on Duty Casualties</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/castally2.aspx" target=_top>Employee on Duty Casualty Rates</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/castally4.aspx" target=_top>Trespasser Casualties</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/gxrtally1.aspx" target=_top>Highway-Rail Crossings</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/TrainAccidentsFYCYWithRates.aspx" target=_top>Train Accidents and Rates</a>	</li>

                </ul>
            </div>



            <div class="col-sm-12 col-md-4 col-lg-4">

                <span class="text-uppercase text-primary">
                    Casualties
                </span>
                <ul>
                    <li>	<a class=" text-muted text-justify" href="ProcessFile.aspx?doc=FRAGuideforPreparingAccIncReportspubMay2011.pdf">FRA Guide for Preparing Accident/Incident Reports  (Published May 2011)</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="ProcessFile.aspx?doc=guidefinal050403.pdf">FRA Guide (PDF)  (Effective May 1, 2003)</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/casrpt.aspx" target=_top>Casualty Detail Report</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/castmap.aspx" target=_top>Casualty Map with Table</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/castab.aspx" target=_top>Casualty Summary Tables</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/casemp.aspx" target=_top>Worker Safety Report</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/suiabbr.aspx" target=_top>Suicide Casualties By State/Railroad</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/CasualitiesReport.aspx" target=_top>Casualties By State/Railroad</a>	</li>

                </ul>
            </div>


            <div class="col-sm-12 col-md-4 col-lg-4">

                <span class="text-uppercase text-primary">
                    Highway-Rail Crossing Inventory
                </span>
                <ul>
                    <li>	<a class=" text-muted text-justify" href="publicsite/crossing/xingqryloc.aspx" target=_top>Query By Location</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/crossing/xingqryxing.aspx" target=_top>Query By Number Range</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="http://safetydata.fra.dot.gov/webaps" target="_self">Accident Prediction - WBAPS</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="ProcessFile.aspx?doc=bull2005-book.pdf">Annual Safety Statistical Report for 2005 (self-extracting EXE)</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/invtab.aspx" target=_top>Crossing Inventory By State</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/invdetl.aspx" target=_top>Public Crossing Inventory Detail Report</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/PublicGradeCrossingInventoryByStateCounty.aspx" target=_top>Public Grade Crossing Inventory By State and County</a>	</li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">

                <span class="text-uppercase text-primary">
                    Highway-Rail Crossing Accidents
                </span>
                <ul>
                    <li>	<a class=" text-muted text-justify" href="ProcessFile.aspx?doc=guidefinal050403.pdf">FRA Guide (PDF)  (Effective May 1, 2003)</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/crossing/crossing.aspx" target=_top>Generate Crossing Inventory and Accident Reports</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="http://safetydata.fra.dot.gov/webaps" target="_blank">Accident Prediction - WBAPS</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="ProcessFile.aspx?doc=FRAGuideforPreparingAccIncReportspubMay2011.pdf">FRA Guide for Preparing Accident/Incident Reports  (Published May 2011)</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/gxrtop50.aspx" target=_top>Frequency of Crossing Collisions</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/gxrrpt.aspx" target=_top>Hwy/Rail Detail Report</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/gxrtmap.aspx" target=_top>Hwy/Rail Map with Table</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/HwyRailAccidentSummaryByRR.aspx" target=_top>Hwy Rail Accident Incident Summary By Railroad </a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/ConsolidatedHwyRailIncidents.aspx" target=_top>Consolidated Hwy Rail Accident Incident  </a>	</li>

                </ul>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">

                <span class="text-uppercase text-primary">
                    Train Accidents
                </span>
                <ul>
                    <li>	<a class=" text-muted text-justify text-justify" href="publicsite/summary.aspx" target=_top>Accident Trends - Summary Statistics</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/graphs.aspx" target=_top>Accident Trends - Charts &amp; Graphs</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/publications.aspx" target=_top>Railroad Safety Statistics Annual Report</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/forms.aspx?itemno=3.05" target=_top>FRA Accident Report and Other Forms</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/publications.aspx?itemno=3.06" target=_top>FRA Accident Reporting Guide and other Publications</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/inctmap.aspx" target=_top>Accident Map with Table</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/inccaus.aspx" target=_top>Accident Causes</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/incrpt.aspx" target=_top>Accident Detail Report</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/TrainAccidentDamage.aspx">Summary of Train Accidents With Reportable Damage, Casualties, and Major Causes</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/TypeTerritoryVSCauseAccType.aspx">Type Of Territory Vs. Accident Type and Cause</a>	</li>
                    <li>	<a class=" text-muted text-justify" href="publicsite/Query/AccidentByStateRailroad.aspx">Accident By State/Railroad</a>	</li>


                </ul>
            </div>


        </div>
    </div>

</footer>


